@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito+Sans:wght@300&display=swap');

// Fonts 
$fonts-headline: 'Merriweather', serif;
$fonts-body: 'Nunito Sans', sans-serif;

// Colors
$text-dark: #333;
$text-light: #fff;

$primary: #fff;
$accent1: #90E0EF;
$accent2: #DDE6E8;
$accent3: #CAF0F8;
